#cy {
    position: absolute;
    top: 9em;
    left: 0.4em;
    bottom: 0.4em;
    right: 20em;
    border : 0.1em solid #555;
}

/*                  gestion des fichiers                 */
#inputFile {
    width: 8em;
    height: 2.5em;
    position: absolute;
    top: 0em;
    left: 1em;
}
#saveModel {
    width: 5em;
    height: 3em;
    position: absolute;
    top: 0em;
    left: 10em;
}
#export {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 0em;
  left: 15.5em;
}
#loadModel {
    display: none
}
#open  {
    width: 5em;
    height: 3em;
    position: absolute;
    top: 0em;
    left: 21em;
}
#importModel {
    display: none
}
#import {
    width: 5em;
    height: 3em;
    position: absolute;
    top: 0em;
    left: 26.5em;
}
#png {
    width: 5em;
    height: 3em;
    position: absolute;
    top: 0em;
    left: 32em;
}

#fieldset {
    width: 35em;
    height: 1em;
    position: absolute;
    top: 0.2em;
    left: 40em;
}


/*                     gestion du modele                        */
#input {
    width: 8em;
    height: 2.5em;
    position: absolute;
    top: 3.2em;
    left: 1em;
}
#new {
    width: 5em;
    height: 3em;
    position: absolute;
    top: 3.2em;
    left: 10em;
}
#edge {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 3.2em;
  left: 15.5em;
}
#rename {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 3.2em;
  left: 21em;
}
#undo {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 3.2em;
  left: 26.5em;
}
#redo {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 3.2em;
  left: 32em;
}
#group {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 3.2em;
  left: 37.5em;
}
#Tight {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 3.2em;
  left: 43em;
}
#layout {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 3.2em;
  left: 48.5em;
}
#ask {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 3.2em;
  left: 54em;
}
#pos {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 3.2em;
  left: 59.5em;
  visibility: hidden;
}

#label {
  width: 80em;
  height: 3em;
  position: absolute;
  top: 7em;
  left: 1em;
}


#parameters {
    width: 16em;
    height: 30em;
    position: absolute;
    top: 5em;
    right:2em;
}

#paramView {
  width: 16em;
  height: 29em;
  position: absolute;
  overflow-x: hidden;
  overflow-y: visible;

}
#createParameter
{
    width: 5em;
    height: 3em;
    position: absolute;
    top: 33em;
    right: 9em;
}
#deleteParameter
{
  width: 5em;
  height: 3em;
  position: absolute;
  top: 33em;
  right: 3em;
}
#attribut {
    width: 16em;
    height: 18em;
    position: absolute;
    top: 42em;
    right: 2em;
}

#attributArea {
    width: 16em;
    height: 10em;
}
#groups {
    width: 16em;
    height: 20em;
    position: absolute;
    top: 57em;
    right:2em;
}

#functionalChainView {
  width: 16em;
  height: 19em;
  position: absolute;
  overflow-x: hidden;
  overflow-y: visible;
}

#createGroup
{
    width: 5em;
    height: 3em;
    position: absolute;
    top: 22em;
    right: 9em;
}
#deleteGroup
{
  width: 5em;
  height: 3em;
  position: absolute;
  top: 22em;
  right: 3em;
}

#geometries {
    width: 16em;
    height: 20em;
    position: absolute;
    top: 83em;
    right:2em;
}

#createGeometry
{
    width: 5em;
    height: 3em;
    position: absolute;
    top: 22em;
    right: 9em;
}
#deleteGeometry
{
  width: 5em;
  height: 3em;
  position: absolute;
  top: 22em;
  right: 3em;
}
