#cy {
    width: 80%;
    height: 90%;
    position: absolute;
    top: 52px;
    left: 0px;
}
#showView {
    width: 5em;
    height: 3em;
    position: absolute;
    top: 0em;
    left: 1px;
}

#fieldset {
    width: 24em;
    height: 1em;
    position: absolute;
    top: 0.2em;
    left: 4.5em;
}
#loadModel {
    width: 16em;
    height: 3em;
    position: absolute;
    top: 0em;
    left: 37em;
}
#saveModel {
    width: 5em;
    height: 3em;
    position: absolute;
    top: 0em;
    left: 53em;
}

#input {
    width: 8em;
    height: 2.5em;
    position: absolute;
    top: 0em;
    left: 58.2em;
}

#new {
    width: 5em;
    height: 3em;
    position: absolute;
    top: 0em;
    left: 67em;
}
#edge {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 0em;
  left: 72em;
}
#rename {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 0em;
  left: 77em;
}
#export {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 0em;
  left: 86em;
}

#undo {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 0em;
  left: 85em;
}
#parameters {
    width: 14em;
    height: 20em;
    position: absolute;
    top: 5em;
    right:2em;
}
#createParameter
{
    width: 5em;
    height: 3em;
    position: absolute;
    top: 28em;
    right: 11em;
}
#deleteParameter
{
  width: 5em;
  height: 3em;
  position: absolute;
  top: 28em;
  right: 6em;
}
#attribut {
    width: 14em;
    height: 20em;
    position: absolute;
    top: 30em;
    right: 2em;
}

#attributArea {
    width: 18em;
    height: 20em;
}
