node {
  content: data(name);
  color: #555;
  border-width: 1;
  border-color: #555;
}

node[highLighted = 3] {
  shape: rectangle;
  background-color: #FF6A00;
}
node[highLighted = 2] {
  shape: rectangle;
  background-color: #FABE00;
}

node[highLighted = 0], node[highLighted = 1] {
  shape: rectangle;
  background-color: #64B5F6;
}

node[highLighted = 1] {
  background-color: #F2A5A9;
}

node[blow = 1] {
  border-width: 4;
  border-color: #0E2E2E;
}

node[blow = 0] {
  border-width: 1;
  border-color: #555;
}

node[state = "HS"] {
  border-color: #CC0000;
  background-color: #CC0000;
  border-width: 1;
}


node[isProducer="true"] {
  shape: roundrectangle;
}

edge {
  curve-style: haystack;
  width: 1;
  line-color: #555;
  line-style: solid;
  /*opacity: 0.5;*/
}

node:selected {
  border-width: 4;
  border-color: #FE2E2E;

}


edge[highLighted = 0] {
  line-color: #555;
  line-style: solid;
  width: 1;
}

/*interface groupe*/
edge[highLighted = 1] {
  line-color: #F2A5A9;
  line-style: solid;
  width: 5;
}

edge[network=0] {
  line-color: LightGreen;
}

edge[network=1] {
  line-color: DarkCyan;
}

edge[network=2] {
  line-color: DeepSkyBlue;
}

edge[network=3] {
  line-color: RosyBrown;
}

edge[network=4] {
  line-color: DarkMagenta;
}

edge[multipleNetworks="true"] {
  line-style: dotted;
}

/*interface etanche*/
edge[highLighted = 2] {
  line-color: #A2A5F9;
  line-style: dashed;
  width: 5;
}

/*interface non etanche*/
edge[highLighted = 3] {
  line-color: #555;
  line-style: dashed;
  width: 4;
}

/*interface non etanche*/
edge[highLighted = 4] {
  line-color: #FABE00;
  line-style: dashed;
  width: 4;
}

edge[state = "HS"] {
  line-color: #CC0000;
  line-style: dashed;
  width: 5;
}

edge:selected {
  line-color: #FE2E2E;
  width: 4;
}

node:parent
{
  background-opacity: 0.4;
}