node {
  background-color: #F2F5A9;
  content: data(name);
  color: #555;
  shape: rectangle;
}

node[highLighted = 1] {
  shape: triangle;
  background-color: #F2A5A9;
}

edge {
  curve-style: haystack;
  width: 1;
  line-color: #555;
  opacity: 0.5;
}

node:selected {
  border-width: 1;
  border-color: #5F4C0B;
}

edge:selected {
  line-color: #FE2E2E;
}

node:parent
{
  background-opacity: 0.1;
}
