node {
  content: data(name);
  color: #555;
  border-width: 1;
  border-color: #555;
}

node[highLighted = 1] {
  shape: ellipse;
  background-color: #F2A5A9;
}
node[highLighted = 0] {
  shape: rectangle;
  background-color: #64B5F6;
}

node[blow = 1] {
  border-width: 4;
  border-color: #0E2E2E;
}

node[blow = 0] {
  border-width: 1;
  border-color: #555;
}

node[highLighted = 99] {
  shape: rectangle;
  background-color: #CC0000;
}


edge {
  curve-style: haystack;
  width: 1;
  line-color: #555;
  line-style: solid;
  /*opacity: 0.5;*/
}

node:selected {
  border-width: 4;
  border-color: #FE2E2E;

}


edge[highLighted = 0] {
  line-color: #555;
  line-style: solid;
  width: 1;
}

/*interface groupe*/
edge[highLighted = 1] {
  line-color: #F2A5A9;
  line-style: solid;
  width: 5;
}

/*interface etanche*/
edge[highLighted = 2] {
  line-color: #A2A5F9;
  line-style: dashed;
  width: 5;
}

/*interface non etanche*/
edge[highLighted = 3] {
  line-color: #555;
  line-style: dashed;
  width: 4;
}

edge:selected {
  line-color: #FE2E2E;
  width: 4;
}

node:parent
{
  background-opacity: 0.4;
}
